{{> admin/adminheader }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
{{> admin/admintopnav}}


    <div class="content-wrapper">

        {{{body}}}
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->

{{> admin/adminfooter }}

</div>
</body>

</html>